@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<h1>Политика конфиденциальности</h1>

<p>Настоящая Политика конфиденциальности описывает, как наш интернет-магазин собирает, использует и защищает информацию, которую вы предоставляете при использовании нашего сайта.</p>

<h2>Сбор информации</h2>
<p>Мы можем собирать следующие типы информации:</p>
<ul>
    <li>Персональные данные, такие как ваше имя, контактная информация, включая адрес электронной почты и номер телефона.</li>
    <li>Информацию о ваших покупках и предпочтениях для улучшения качества обслуживания.</li>
    <li>Данные о посещениях сайта и взаимодействиях с его содержимым.</li>
</ul>

<h2>Использование информации</h2>
<p>Собранная информация используется для следующих целей:</p>
<ul>
    <li>Обеспечение удобства использования сайта и улучшение качества обслуживания.</li>
    <li>Обработка заказов и организация доставки товаров.</li>
    <li>Информирование о специальных предложениях, акциях и новостях, если вы согласились на получение таких уведомлений.</li>
</ul>

<h2>Защита данных</h2>
<p>Мы принимаем необходимые меры для защиты ваших персональных данных от несанкционированного доступа, изменения или уничтожения. Доступ к вашим данным ограничен и предоставляется только тем сотрудникам, которые нуждаются в этом для выполнения своих рабочих обязанностей.</p>

<h2>Передача данных третьим лицам</h2>
<p>Мы не передаем ваши персональные данные третьим лицам, за исключением случаев, предусмотренных законодательством или с вашего согласия.</p>

<h2>Изменения в политике конфиденциальности</h2>
<p>Мы можем периодически обновлять настоящую Политику конфиденциальности. Рекомендуем вам периодически проверять эту страницу, чтобы быть в курсе изменений.</p>

<p>Если у вас возникли вопросы о нашей Политике конфиденциальности, вы можете связаться с нами через форму обратной связи на нашем сайте.</p>
